<div>
    <h2 id="page-heading">
        <span>Bank Account Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bank-account-type" [routerLink]="['/bank-account-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Bank Account Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bankAccountTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Account Type</span></th>
            <th><span>Account Interest Rate</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bankAccountType of bankAccountTypes ;trackBy: trackId">
                <td><a [routerLink]="['/bank-account-type', bankAccountType.id, 'view' ]">{{bankAccountType.id}}</a></td>
                <td>{{bankAccountType.accountType}}</td>
                <td>{{bankAccountType.accountInterestRate}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bank-account-type', bankAccountType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bank-account-type', bankAccountType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bank-account-type/'+ bankAccountType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
